repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        files: ^(filehandler|tests)/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        files: ^(filehandler|tests)/
      - id: end-of-file-fixer
        files: ^(filehandler|tests)/
      - id: check-added-large-files
        files: ^(filehandler|tests)/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        additional_dependencies: []
        entry: ./run_flake8.sh
        files: ^(filehandler|tests)/

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: ./run_pylint.sh
        language: python
        types: [python]
        additional_dependencies: [pylint]
        files: ^(filehandler|tests)/

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        language: python
        pass_filenames: false
        files: ^(filehandler|tests)/

  - repo: local
    hooks:
      - id: coverage
        name: coverage
        entry: pytest --cov=filehandler --cov-report=html
        language: python
        pass_filenames: false
        additional_dependencies: [pytest, pytest-cov]
        files: ^(filehandler|tests)/
